

    <div id="additional_Project_Settings" class="tab-pane fade">
      <form class="form-style-9" style="margin-left:1%;;margin-top:-6%;;margin-right:1%;width:1450px">
		  <legend class="legend" style="font-weight:bold;margin-left:1%">Project Details</legend>

		<h3 style="font-weight:bold;color:Black;margin-left:1%"> Fill out the relevant details of the job</h3>
		<table>
			<thead>
				  <tr>
					<th style="width:350px" colspan="3"><h3>Property Label</h3></th>
					<th style="width:350px" colspan="3"><h3>Select / Type in (English)</h3></th>
					<th style="width:350px" colspan="3"><h3>Description</h3></th>
					<th style="width:350px" colspan="3"><h3>Filter</h3></th>

				  </tr>
			</thead>
		 </table>
		   <table>
				  <tr>
                      <td><input type="text" name="ProjDet_addit_rout1" class="field-style field-split align-right" style="width:350px;height:25px;font-size:13px" placeholder="for eg. Additional Routing"</td>
                      <td><input type="text" name="ProjDet_sel1" class="field-style field-split align-right" style="width:350px;height:25px;font-size:13px" placeholder="for eg. Equity Routing"</td>
                      <td><input type="text" name="ProjDet_desc1" class="field-style field-split align-right" style="width:350px;height:25px;font-size:13px" placeholder=""</td>
                      <td><input type="text" name="ProjDet_filter1" class="field-style field-split align-right" style="width:350px;height:25px;font-size:13px" placeholder=""</td>
                    </tr><tr>
                      <td><input type="text" name="ProjDet_addit_rout2" class="field-style field-split align-right" style="width:350px;height:25px;font-size:13px" placeholder="for eg. Market Factors Brand Variants:"</td>
                      <td><input type="text" name="ProjDet_sel2" class="field-style field-split align-right" style="width:350px;height:25px;font-size:13px" placeholder="for eg. Default"</td>
                      <td><input type="text" name="ProjDet_desc2" class="field-style field-split align-right" style="width:350px;height:25px;font-size:13px" placeholder="1. Default – No limitation on brands 2. Only 2 brands"</td>
                      <td><input type="text" name="ProjDet_filter2" class="field-style field-split align-right" style="width:350px;height:25px;font-size:13px" placeholder=""</td>
                  </tr>
           </table>
        <br><br>

	   <div class="input-group mb-3 group-end"><center>
            <a data-toggle="pill" href="#additional_Project_Settings"class="btn btn-danger btnPrevious" style="margin-left:650px"> << Previous</a>
            <a data-toggle="pill" href="#brands" class="btn btn-success btnNext" style="margin-left:10px">Next >></a></center>
       </div>      </form>
    </div>
