

    <div id="brands" class="tab-pane fade">
    <form class="form-style-9" style="margin-left:1%;margin-right:5%;;margin-top:-8%"><br>
            <h3 style="background-color:#A9E2F3">Minimum 2 - Maximum 32 brands (To remain mobile friendly recommend no more than 8)
                                    Brand names cannot exceed 50 characters (in any language)
                                    Need minimum of 3 brands to conduct the NeedScope Module</h3>
          <table style="width:1440px">
			<thead>
				  <center><tr>
					<th style="width:50px" >&nbspIndex</th>
					<th style="width:130px">Type in - English Default</th>
					<th style="width:100px" colspan="1">"Q058 - Ad Messaging Brands (Select min. 2 brands)"</th>
					<th style="width:100px" colspan="1">"Q056 - TBCA follow up brands (Select atleast 1 brand)"</th>
                    <th style="width:100px" colspan="1">"DBA Brands (Select brands required for DBA, feasibility checks must have been completed)"</th>
                    <th style="width:100px" colspan="1">"Brand to display when dashboard first opened (Select one brand only)"</th>
                    <th style="width:100px" colspan="1">"NPS (Select that qualify for NPS)"</th>
                    <th style="width:100px" colspan="1">"English (United Kingdom) "</th>
                    <th style="width:100px" colspan="1">"Spanish (Mexico) "</th>
                    <th style="width:100px" colspan="1">"English (United Kingdom) "</th>
                    <th style="width:100px" colspan="1">"Spanish (Mexico) "</th>
  				  </tr></center>
			</thead>
		 </table>
		   <table>
				  <tr>
                      <td><input type="text" name="Sn_No_1" class="BoxField"  style="width:70px" placeholder="Sr. No"</td>
                      <td><input type="text" id="Brand_1" name="Brand_1" class="BrandField"  placeholder="Brands"</td>
                      <td><input type="text" name="Q00_58_1" class="BoxField"  placeholder=""</td>
                      <td><input type="text" name="Q00_56_1" class="BoxField"  placeholder=""</td>
                      <td><input type="text" name="DBA_1" class="BoxField" </td>
                      <td><input type="text" name="Dash_brand_1" class="BoxField"  </td>
                      <td><input type="text" name="NPS_1" class="BoxField"  </td>
                      <td><input type="text" name="ENU_1" class="BoxField"  </td>
                      <td><input type="text" name="SPA_1" class="BoxField"  </td>
                      <td><input type="text" name="media_ENU_1" class="BoxField"  </td>
                      <td><input type="text" name="media_SPA_1" class="BoxField"  </td>
                  </tr>
				  <tr>
                      <td><input type="text" name="Sn_No_1" class="BoxField" style="width:70px" placeholder="Sr. No"</td>
                      <td><input type="text" name="Brand_2" class="BrandField" placeholder="Brands"</td>
                      <td><input type="text" name="Q00_58_1" class="BoxField" placeholder=""</td>
                      <td><input type="text" name="Q00_56_1" class="BoxField" placeholder=""</td>
                      <td><input type="text" name="DBA_1" class="BoxField" </td>
                      <td><input type="text" name="Dash_brand_1" class="BoxField" </td>
                      <td><input type="text" name="NPS_1" class="BoxField" </td>
                      <td><input type="text" name="ENU_1" class="BoxField" </td>
                      <td><input type="text" name="SPA_1" class="BoxField" </td>
                      <td><input type="text" name="media_ENU_1" class="BoxField" </td>
                      <td><input type="text" name="media_SPA_1" class="BoxField" </td>
                  </tr>
				  <tr>
                      <td><input type="text" name="Sn_No_1" class="BoxField" style="width:70px" placeholder="Sr. No"</td>
                      <td><input type="text" name="Brand_3" class="BrandField" placeholder="Brands"</td>
                      <td><input type="text" name="Q00_58_1" class="BoxField" placeholder=""</td>
                      <td><input type="text" name="Q00_56_1" class="BoxField" placeholder=""</td>
                      <td><input type="text" name="DBA_1" class="BoxField" </td>
                      <td><input type="text" name="Dash_brand_1" class="BoxField" </td>
                      <td><input type="text" name="NPS_1" class="BoxField" </td>
                      <td><input type="text" name="ENU_1" class="BoxField" </td>
                      <td><input type="text" name="SPA_1" class="BoxField" </td>
                      <td><input type="text" name="media_ENU_1" class="BoxField" </td>
                      <td><input type="text" name="media_SPA_1" class="BoxField" </td>
                  </tr>
				  <tr>
                      <td><input type="text" name="Sn_No_1" class="BoxField" style="width:70px" placeholder="Sr. No"</td>
                      <td><input type="text" name="Brand_4" class="BrandField" placeholder="Brands"</td>
                      <td><input type="text" name="Q00_58_1" class="BoxField" placeholder=""</td>
                      <td><input type="text" name="Q00_56_1" class="BoxField" placeholder=""</td>
                      <td><input type="text" name="DBA_1" class="BoxField" </td>
                      <td><input type="text" name="Dash_brand_1" class="BoxField" </td>
                      <td><input type="text" name="NPS_1" class="BoxField" </td>
                      <td><input type="text" name="ENU_1" class="BoxField" </td>
                      <td><input type="text" name="SPA_1" class="BoxField" </td>
                      <td><input type="text" name="media_ENU_1" class="BoxField" </td>
                      <td><input type="text" name="media_SPA_1" class="BoxField" </td>
                  </tr>
           </table>
      </form>

	   <div class="input-group mb-3 group-end"><center>
            <a data-toggle="pill" href="#menu3"class="btn btn-danger btnPrevious" style="margin-left:650px"> << Previous</a>
            <a data-toggle="pill" href="#menu3" class="btn btn-success btnNext" style="margin-left:10px">Next >></a></center>
       </div>
    </div>

<style>

    .BoxField
    {
        width:130px;height:25px;font-size:13px
    }


    .BrandField
    {
        width:160px;height:25px;font-size:13px;font-weight:bold;
    }
</style>
