
 <div id="ProjectTextReplacement" class="tab-pane fade" style="margin-left:1%;margin-top:-85%;">
     <div style="width:1220px;margin-left:240px;height:640px;padding: 10px;border: 2px solid #305A72;box-shadow: 1px 1px 15px black">
	    <h3 style="margin-left:10%">Project Level Text Replacements</h3>
        <table style="width:1100px;margin-left:40px;border:1px">
			<thead>
            	  <tr>
					<th style="width:50px;height:40px;font-size:18px"> &nbspIndex</th>
					<th style="width:440px;font-size:18px" colspan="2"><center>Standard Labels and it's attributes (if any)</th>
					<th style="width:200px;font-size:18px" colspan="2"><center>Label to be shown in the script for each language</th>
         		  </tr>
				  <tr>
					<th style="width:50px;height:40px;font-size:16px"> &nbsp#</th>
					<th style="width:440px;font-size:15px" colspan="1"><center> &nbsp &nbsp &nbspProperty Label</th>
					<th style="width:200px;font-size:15px" colspan="1"><center>Type in English Default</th>
                    <th style="width:200px;font-size:15px" colspan="1"><center>English (United Kingdom)</th>
                    <th style="width:200px;font-size:15px" colspan="1"><center><input style="background-color:#AED6F1;border:0px;width:160px;font-size:14px" disabled type="text" id="ptr_lang2" ></center></th>
         		  </tr>
			</thead>
               {% for i in brandno %}
    			  <tr>
                      <td><input type="text" name="Sn_No_{{ i}}" class="BoxField_{{ i}}"  value = {{ i }} style="width:50px" DISABLED</td>
                      <td><input type="text" style="width:440px" id="Brand_{{ i}}" name="Brand_{{ i}}" class="BrandField" </td>
                      <td><input type="text" style="width:200px" name="Q00_58_{{ i}}" class="BoxField"  placeholder=""</td>
                      <td><input type="text" style="width:200px" name="Q00_56_{{ i}}" class="BoxField"  placeholder=""</td>
                      <td><input type="text" style="width:200px" name="Q00_56_{{ i}}" class="BoxField"  placeholder=""</td>
                  </tr>
               {% endfor %}
           </table>

		<div class="pagination-wrapper"  style="margin-top:4%">
			  <center><div class="pagination">
				<a data-toggle="pill"  href="#menu2">&laquo;</a>
				<a data-toggle="pill"  href="#ProjectSettings">1</a>
				<a data-toggle="pill"  href="#qdb">2</a>
				<a data-toggle="pill"   href="#additional_Project_Settings">3</a>
				<a data-toggle="pill"  class="active"href="#ProjectTextReplacement">4</a>
				<a data-toggle="pill"  href="#brands:;">5</a>
				<a data-toggle="pill"  href="#menu2">6</a>
				<a data-toggle="pill"  href="#AdMessaging">7</a>
				<a data-toggle="pill"  href="#adnow_ads">8</a>
				<a data-toggle="pill"  href="#adnow_ads">9</a>
				<a data-toggle="pill"  href="#adnow_ads">10</a>
				<a data-toggle="pill"  href="#adnow_ads">11</a>
				<a data-toggle="pill"  href="#adnow_ads">12</a>
				<a data-toggle="pill"  href="#adnow_ads">13</a>
				<a data-toggle="pill"  href="#adnow_ads">14</a>
				<a data-toggle="pill"  href="#adnow_ads">15</a>
				<a data-toggle="pill"  href="#adnow_ads">16</a>
				<a data-toggle="pill"  href="#adnow_ads">17</a>
				<a data-toggle="pill"  href="#adnow_ads">&raquo;</a>
			  </center></div></div>
	 </div>
