
<div id="qdb" class="tab-pane fade">
	<div  style="width:1200px;height:650px;margin-top:-80%;margin-left:240px;padding: 10px;border: 2px solid #305A72;box-shadow: 1px 1px 10px black;">

		  <ul class="nav nav-tabs" style="margin-left:10px">
					<li><a data-toggle="tab" href="#sheet1" style="width:135px;font-size:13px;font-weight:bold;background-color:#E67E22">Qdb Entries 1</a></li>
					<li><a data-toggle="tab" href="#sheet2" style="width:135px;font-size:13px;font-weight:bold;background-color:#E67E22">Qdb Entries 2</a></li>
					<li><a data-toggle="tab" href="#sheet3" style="width:135px;font-size:13px;font-weight:bold;background-color:#E67E22">Qdb Entries 3</a></li>
					<li><a data-toggle="tab" href="#sheet4" style="width:135px;font-size:13px;font-weight:bold;background-color:#E67E22">Qdb Entries 4</a></li>
					<h4 style="float:right;font-weight:bold"> QDB Selection</h4>
			  <br>
		  </ul>

  <div class="tab-content">
	  <p style="float:right"> *** Click on the <b>TABS</b> to view other tabs  <br> *** Click on the <b> Checkbox </b> to select any items <br> *** To go to the next form <b> CLICK </b> on the Nesxt button</p>

    <div id="sheet1" class="tab-pane fade in active">
			<table style="margin-top:5px;width:700px;margin-left:1%">
			<thead>
					<th colspan="3"><center>SCREENER</center></th>
			</thead>
				  <tr><td>Occupational Screener</td><td>OPTIONAL</td><td><input type="Checkbox" checked> </td></tr>
				  <tr><td>Gender</td><td>OPTIONAL</td><td><input type="Checkbox"></td></tr>
				  <tr><td>Gender Inclusive</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Exact Age</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Age bands</td><td>DEFAULT</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Category Introduction</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Chief Shopper (FMCG)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Chief Shopper (Non-FMCG)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Category Usage</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
			<thead>
				  <tr>
					<th colspan="3"><center>CUSTOMER TYPOLOGY \ CATEGORY EVALUATION</center></th>
				  </tr>
			</thead>
				  <tr><td><b>CUSTOMER TYPOLOGY</b></td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Customer Typology (Retail or Services)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Customer Typology (Standard)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td><b>CATEGORY EVALUATION</b></td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Category Satisfaction</td><td>DEFAULT</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Category Importance</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Category Difference</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
			<thead>
				  <tr>
					  <th colspan="3"><center>UNAIDED AWARENESS \ UNAIDED NEEDS BASED SALIENCE \ PROMPTED NEEDS BASED SALIENCE</center></th>
				  </tr>
			</thead>
				  <tr><td>Unaided Brand Awareness</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Unaided Brand Awareness Full Brand Name</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Unaided Needs Based Salience</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Unaided Needs Based Salience Full Brand Name</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Prompted Needs Based Salience</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Prompted Needs Based Salience Full Brand Name</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
            </table>
    </div>

    <div id="sheet2" class="tab-pane fade">
			<table style="margin-top:5px;width:700px;margin-left:.5%" >
			   <thead>
				  <tr>
					<th colspan="3"><center>FAMILIARITY</center></th>
				  </tr>
				</thead>
				  <tr><td>Familiarity (With Time Dimension)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Familiarity (Long Term Purchase/Services)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td> Familiarity (Standard)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
			<thead>
				  <tr><th colspan="3"><center>BEHAVIOURAL KPIS</center></th></tr>
			</thead>
				  <tr><td>Consideration</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>

			<thead>
				  <tr><th colspan="3"><center><center>MARKET SHARE</center></th></tr>
			</thead>
				  <tr><td>Last 10 Purchases</td><td>DEFAULT</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Market Share - Last 10</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Market Share - Actual Spend</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Market Share - Share of Spend</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Brand Bought Last</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Category Entry Points</td><td>RECOMMENDED</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>NPS Likelihood to Recommend (7 point version)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Net Promoter/Likelihood to Recommend (11 point scale)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>

			<thead>
				  <tr><th colspan="3"><center>MDF (7 POINT VERSIONS)</center></th></tr>
			</thead>
				  <tr><td>Affinity (7 point version)</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Unique (7 point version)</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Meets Needs (7 point version)</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Dynamic (7 point version)</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Price (7 point version)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
				  <tr><td>Worth</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>

            </table>
    </div>

    <div id="sheet3" class="tab-pane fade">
			<table style="margin-top:5px;width:700px;margin-left:.5%" >

	   <thead>
	   <tr></tr>
		<tr><th colspan="3"><center>AD MESSAGE \ DISTRIBUTION \ BRAND REVIEW \ ACTIVATION</center></th></tr>
	   </thead>

		<tr><td>Ad Messaging</td><td>RECOMMENDED</td><td><input type="Checkbox"> </td></tr>
		<tr><td>  Distribution (Generic Version)</td>	<td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>  Distribution (Channel Version)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>  Brand Review</td>	<td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>  Activation (Long Term)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>  Activation (FMCG)</td>	<td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
	   <thead>
		<tr><th colspan="3"><center>PERSONALITY \ CHARACTERZ</center></th></tr>
	   </thead>
	 	<tr><td>  Brand Personality</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>  CharacterZ</td>	<td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
	   <thead>
		<tr><th colspan="3"><center>CHIEF SHOPPER (CLASSIFICATION)</center></th></tr>
	   </thead>
	 	<tr><td>  Chief Shopper (FMCG) Classification</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>  Chief Shopper (Non-FMCG) Classification</td>	<td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
	   <thead>
		<tr><th colspan="3"><center>CONNECT MODULE</center></th></tr>
	   </thead>
	 	<tr><td>  Connect - Standard</td><td>NOT APPLICABLE</td><td><input type="Checkbox"> </td></tr>
			   <tr><th colspan="3"><center>ADNOW MODULE</th></tr>
	   </thead>
	 	<tr><td>  Spine ADNOW Flag</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
		<tr><td>  Recent Media Exposure/td><td>RECOMMENDED</td><td><input type="Checkbox"> </td></tr>
		<tr><td>  In-Market Core Module (Recognition, TBCA Check, Wear-out)</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
	   <thead>
		<tr><th colspan="3"><center>IN-MARKET DIAGNOSTICS ADD-ON</center></th></tr>
	   </thead>
	 	<tr><td>    Ad Location</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
		<tr><td>    Misattribution</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
		<tr><td>    New Information</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
            </table>
    </div>

    <div id="sheet4" class="tab-pane fade">
			<table style="margin-top:5px;width:700px;margin-left:.5%" >


	   <thead>
	   <tr><th colspan="3"><center>CREATIVE EVALUATION ADD-ON</center></th></tr>
	   </thead>
	 	<tr><td>    Complete module</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
		<tr><td>    Choose one among Engagement, Association, and Predisposition</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>


	   <thead>
	   <tr><th colspan="3"><center>CREATIVE EVALUATION SECTIONS</center></th></tr>
	   </thead>
	 	<tr><td>      Engagement (Enjoyment, Active Involvement, Likeability, Branding)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>      Association (Message Check)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
	   <thead>
		<tr><th colspan="3">      BRAND PREDISPOSITION</th></tr>
	   </thead>
	 	<tr><td>PERSUASION</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>FMCG/Retail Variant</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>Long Term Purchase Variant</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>Services Purchase Variant</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>LIKELIHOOD TO ACTION</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>Likelihood to Action</td><td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
	   <thead>
	   <tr><th colspan="3"><center>BRAND PERCEPTION KPIs</center></th></tr>
	   </thead>
		<tr><td>Brand Impressions</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>Imagery</td>	<td>MANDATORY</td><td><input type="Checkbox"> </td></tr>
		<tr><td>Brand Purpose/Ideals</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>

	   <thead>
	   <tr><th colspan="3"><center>TBCA></center></th></tr>
	   </thead>
		<tr><td>  TBCA (Old Version)</td><td>OPTIONAL</td><td><input type="Checkbox"> </td></tr>
		<tr><td>  TBCA (New Version)</td>	<td>RECOMMENDED</td><td><input type="Checkbox"> </td></tr>
	  </table> <br>
     </div>
	  </div>

	  		  <p style="float:right;margin-top;12%"> Form <b>2</b> out of <b>35</b> </p>

			<div class="pagination-wrapper"  style="margin-top:4%">
			  <center><div class="pagination">
				<a data-toggle="pill"  href="#menu2">&laquo;</a>
				<a data-toggle="pill"  href="#ProjectSettings">1</a>
				<a data-toggle="pill"  class="active" href="#qdb">2</a>
				<a data-toggle="pill"  href="#additional_Project_Settings">3</a>
				<a data-toggle="pill"  href="#ProjectTextReplacement">4</a>
				<a data-toggle="pill"  href="#brands:;">5</a>
				<a data-toggle="pill"  href="#menu2">6</a>
				<a data-toggle="pill"  href="#AdMessaging">7</a>
				<a data-toggle="pill"  href="#adnow_ads">8</a>
				<a data-toggle="pill"  href="#adnow_ads">9</a>
				<a data-toggle="pill"  href="#adnow_ads">10</a>
				<a data-toggle="pill"  href="#adnow_ads">11</a>
				<a data-toggle="pill"  href="#adnow_ads">12</a>
				<a data-toggle="pill"  href="#adnow_ads">13</a>
				<a data-toggle="pill"  href="#adnow_ads">14</a>
				<a data-toggle="pill"  href="#adnow_ads">15</a>
				<a data-toggle="pill"  href="#adnow_ads">16</a>
				<a data-toggle="pill"  href="#adnow_ads">17</a>
				<a data-toggle="pill"  href="#adnow_ads">&raquo;</a>
			  </center></div>
		</div>
	</div>


